<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="femaleRepURL" value="https://worldcup.sfg.io/teams/"/>
    <add key="maleRepURL" value="https://world-cup-json-2018.herokuapp.com/teams/results"/>
    <add key="femaleRepPlayerDataURL" value="https://worldcup.sfg.io/matches/country?fifa_code="/>
    <add key="maleRepPlayerDataURL" value="https://world-cup-json-2018.herokuapp.com/matches/country?fifa_code="/>
    <add key="flagURL" value="https://restcountries.eu/data/"/>
  </appSettings>
</configuration>